<div class="container">
	<div class="row">
		<h3>Articles</h3>
		{{#each scrape_data}}
			<div class="col-md-4">
				<h2>{{this.title}}</h2>
				<p>{{this.teaser}}</p>
				<a href="{{this.link}}" target="_blank">more...</a>
				<form class="form-inline" action="/saved/{{this.id}}" method="POST">
					<input type="hidden" name="id" value="{{this.id}}">
					<button type="submit" class="saved">Save</button>
				</form>
			</div>
		{{/each}}
	</div>
</div>